public/
resources/
.direnv
.hugo_build.lock
.sw?
push-preview
config-preview.toml
.netlify/state.json
node_modules/
whatgotdone-*.zip

# Environment variables, which may contain secrets
.env.*
# .env.example is an exception as it only contains dummy secrets.
!.env.example
