{{ define "page" }}
  <article class="container">
    {{ if ne .Kind "home" }}
      <a href="{{ .Site.Home.RelPermalink }}">Home</a>
    {{ end }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ $weeksSection := .Site.GetPage "section" "weeks" }}
    {{ if $weeksSection }}
      <ol reversed>
        {{ range $weeksSection.Pages }}
          <li>
            <a href="{{ .RelPermalink }}">
              {{ if .Title }}
                {{ .Title }}
              {{ else }}
                {{ $path := .RelPermalink }}
                {{ $parts := split $path "/" }}
                {{ range $parts }}
                  {{ if (findRE
                    "^\\d{4}-\\d{2}-\\d{2}$" .)
                  }}
                    Week ending in
                    {{ . }}
                  {{ end }}
                {{ end }}
              {{ end }}
            </a>
          </li>
        {{ end }}
      </ol>
    {{ end }}
  </article>
{{ end }}
